test/resources/automating_pii_data_detection_and_data_masking_tasks_with_aws_glue_databrew_and_aws_step_funtions.jaon
{
              "Comment": "Automatically detect PII columns of data files loaded into S3 and reproduce the data files with PII columns masked.",
              "StartAt": "Create Glue DataBrew Dataset",
              "States": {
                "Create Glue DataBrew Dataset": {
                  "Type": "Task",
                  "Parameters": {
                    "Input": {
                      "S3InputDefinition": {
                        "Bucket.$": "$.bucket.name",
                        "Key.$": "$.object.key"
                      }
                    },
                    "Name.$": "$.object.key"
                  },
                  "Resource": "arn:aws:states:::aws-sdk:databrew:createDataset",
                  "Next": "Create Glue DataBrew Profile Job",
                  "InputPath": "$.detail"
                },
                "Create Glue DataBrew Profile Job": {
                  "Type": "Task",
                  "Parameters": {
                    "DatasetName.$": "$.Name",
                    "Name.$": "States.Format('{}-PII-Detection-Job',$.Name)",
                    "OutputLocation": {
                      "Bucket": "${GlueDataBrewOutputBucketName}"
                    },
                    "Configuration": {
                      "EntityDetectorConfiguration": {
                        "AllowedStatistics": [
                          {
                            "Statistics": [
                              "AGGREGATED_GROUP",
                              "TOP_VALUES_GROUP",
                              "CONTAINING_NUMERIC_VALUES_GROUP"
                            ]
                          }
                        ],
                        "EntityTypes": [
                          "USA_ALL",
                          "PERSON_NAME"
                        ]
                      }
                    },
                    "RoleArn": "${RoleGlueDataBrewPIITask.Arn}"
                  },
                  "Resource": "arn:aws:states:::aws-sdk:databrew:createProfileJob",
                  "Next": "Start Glue DataBrew Profile Job"
                },
                "Start Glue DataBrew Profile Job": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::databrew:startJobRun.sync",
                  "Parameters": {
                    "Name.$": "$.Name"
                  },
                  "Next": "Process Profile Result with Lambda Function",
                  "ResultSelector": {
                    "DatasetName.$": "$.DatasetName",
                    "Outputs.$": "$.Outputs"
                  }
                },
                "Process Profile Result with Lambda Function": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${FunctionGlueDataBrewProfileReader.Arn}",
                    "Payload.$": "$"
                  },
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 6,
                      "BackoffRate": 2
                    }
                  ],
                  "Next": "Validate if the Dataset Contains PII Columns",
                  "ResultPath": "$.LambdaTaskResult",
                  "ResultSelector": {
                    "pii-columns.$": "$.Payload"
                  }
                },
                "Validate if the Dataset Contains PII Columns": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.LambdaTaskResult.pii-columns",
                      "StringEquals": "No PII columns found.",
                      "Next": "No PII Data is Found"
                    }
                  ],
                  "Default": "Create Glue DataBrew PII Data Masking Recipe"
                },
                "No PII Data is Found": {
                  "Type": "Succeed"
                },
                "Create Glue DataBrew PII Data Masking Recipe": {
                  "Type": "Task",
                  "Parameters": {
                    "Name.$": "States.Format('{}-PII-Masking-Recipe',$.DatasetName)",
                    "Steps": [
                      {
                        "Action": {
                          "Operation": "CRYPTOGRAPHIC_HASH",
                          "Parameters": {
                            "secretId": "${GlueDataBrewPIITaskSecretArn}",
                            "sourceColumns.$": "$.LambdaTaskResult.pii-columns"
                          }
                        }
                      }
                    ]
                  },
                  "Resource": "arn:aws:states:::aws-sdk:databrew:createRecipe",
                  "Next": "Create Glue DataBrew Project",
                  "ResultPath": "$.Recipe"
                },
                "Create Glue DataBrew Project": {
                  "Type": "Task",
                  "Next": "Create Glue DataBrew Recipe Job",
                  "Parameters": {
                    "DatasetName.$": "$.DatasetName",
                    "Name.$": "States.Format('{}-PII-Project',$.DatasetName)",
                    "RecipeName.$": "$.Recipe.Name",
                    "RoleArn": "${RoleGlueDataBrewPIITask.Arn}"
                  },
                  "Resource": "arn:aws:states:::aws-sdk:databrew:createProject",
                  "ResultPath": "$.Project"
                },
                "Create Glue DataBrew Recipe Job": {
                  "Type": "Task",
                  "Parameters": {
                    "ProjectName.$": "$.Project.Name",
                    "Outputs": [
                      {
                        "Location": {
                          "Bucket": "${GlueDataBrewOutputBucketName}"
                        }
                      }
                    ],
                    "Name.$": "States.Format('{}-PII-Masking-Job',$.DatasetName)",
                    "RoleArn": "${RoleGlueDataBrewPIITask.Arn}"
                  },
                  "Resource": "arn:aws:states:::aws-sdk:databrew:createRecipeJob",
                  "Next": "Start Glue DataBrew Recipe Job"
                },
                "Start Glue DataBrew Recipe Job": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::databrew:startJobRun.sync",
                  "Parameters": {
                    "Name.$": "$.Name"
                  },
                  "Next": "Successfully Mask PII Data"
                },
                "Successfully Mask PII Data": {
                  "Type": "Succeed"
                }
              }
            }