test/resources/aws_control_tower_account_setup_using_step_functions.yaml
StartAt: Account
States:
  Account:
    Type: Task
    Resource: !GetAtt AccountFunction.Arn
    Retry:
      - ErrorEquals:
          - Lambda.TooManyRequestsException
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    TimeoutSeconds: 20
    ResultPath: null # discard result and keep original input
    Next: DescribeRegions
  DescribeRegions:
    Type: Task
    Resource: "arn:aws:states:::aws-sdk:ec2:describeRegions"
    Parameters:
      Filters:
        - Name: opt-in-status
          Values:
            - opt-in-not-required
      AllRegions: false
    ResultSelector:
      "RegionNames.$": "$.Regions[*].RegionName"
    ResultPath: "$.Regions"
    Next: AllRegions
  AllRegions:
    Type: Map
    ItemsPath: "$.Regions.RegionNames"
    MaxConcurrency: 0
    Parameters:
      "account_id.$": "$.account.accountId"
      "region.$": "$$.Map.Item.Value"
    Iterator:
      StartAt: Regional
      States:
        Regional:
          Type: Task
          Resource: !GetAtt RegionalFunction.Arn
          Retry:
            - ErrorEquals:
                - Lambda.TooManyRequestsException
                - Lambda.ServiceException
                - Lambda.AWSLambdaException
                - Lambda.SdkClientException
              IntervalSeconds: 2
              MaxAttempts: 6
              BackoffRate: 2
          TimeoutSeconds: 20
          End: true
    ResultPath: null # discard result and keep original input
    Next: SSOAssignment
  SSOAssignment:
    Type: Task
    Resource: !GetAtt SSOAssignmentFunction.Arn
    Retry:
      - ErrorEquals:
          - Lambda.TooManyRequestsException
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    TimeoutSeconds: 300
    ResultPath: null # discard result and keep original input
    Next: ServiceCatalogPortfolio
  ServiceCatalogPortfolio:
    Type: Task
    Resource: !GetAtt ServiceCatalogPortfolioFunction.Arn
    Retry:
      - ErrorEquals:
          - Lambda.TooManyRequestsException
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    TimeoutSeconds: 300
    End: true
