test/resources/aws_step_functions_craps_workshop.yaml
Comment: An example state machine that plays a game of craps
StartAt: Roll
States:
    EvaluateRoll:
        Next: Outcome
        Resource: <INSERT GAME LOGIC LAMBDA ARN HERE>
        Type: Task
    Loss:
        End: true
        Type: Pass
    Outcome:
        Choices:
            - Next: Win
              StringEquals: Win
              Variable: $.results.outcome
            - Next: Loss
              StringEquals: Lose
              Variable: $.results.outcome
        Default: Roll
        Type: Choice
    Roll:
        Next: RollTwoDiceInParallel
        Type: Pass
    RollTwoDiceInParallel:
        Branches:
            - StartAt: Dice1
              States:
                Dice1:
                    End: true
                    Resource: <INSERT DICE LAMBDA ARN HERE>
                    Type: Task
            - StartAt: Dice2
              States:
                Dice2:
                    End: true
                    Resource: <INSERT DICE LAMBDA ARN HERE>
                    Type: Task
        Next: EvaluateRoll
        Type: Parallel
    Win:
        End: true
        Type: Pass
