test/resources/aws_elemental_media_services_factory_delete.json
{
    "Comment": "An example of the MediaLive to MediaPackage workflow",
    "StartAt": "MediaLiveFindChannel",
    "States": {
      "MediaLiveFindChannel": {
        "Type": "Task",
        "Resource": "${medialiveFindChannelArn}",
        "InputPath": "$.name",
        "ResultPath": "$.medialive.channel",
        "Next": "MediaLiveStopChannel"
      },
      "MediaLiveStopChannel": {
        "Type": "Task",
        "Resource": "${medialiveStopChannelArn}",
        "InputPath": "$.medialive.channel.Id",
        "ResultPath": "$.medialive.channel",
        "Next": "SystemsManagerDeleteParameters"
      },
      "SystemsManagerDeleteParameters": {
        "Type": "Task",
        "Resource": "${systemsmanagerDeleteParametersArn}",
        "InputPath": "$.name",
        "ResultPath": "$.ssm.results",
        "Next": "MediaPackageDeleteEndpoints"
      },
      "MediaPackageDeleteEndpoints": {
        "Type": "Task",
        "Resource": "${mediapackageDeleteEndpointsArn}",
        "InputPath": "$.name",
        "ResultPath": "$.mediapackage.deleteEndpoints",
        "Next": "MediaPackageDeleteChannel"
      },
      "MediaPackageDeleteChannel": {
        "Type": "Task",
        "Resource": "${mediapackageDeleteChannelArn}",
        "InputPath": "$.name",
        "ResultPath": "$.mediapackage.deleteChannel",
        "Next": "WaitForChannelIdleState"
      },
      "WaitForChannelIdleState": {
        "Type": "Wait",
        "Seconds": 1,
        "Next": "MediaLiveDescribeChannel"
      },
      "MediaLiveDescribeChannel": {
        "Type": "Task",
        "Resource": "${medialiveDescribeChannelArn}",
        "InputPath": "$.medialive.channel.Id",
        "ResultPath": "$.medialive.channel",
        "Next": "IsMediaLiveChannelIdle"
      },
      "IsMediaLiveChannelIdle": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.medialive.channel.State",
            "StringEquals": "IDLE",
            "Next": "MediaLiveDeleteChannel"
          }
        ],
        "Default": "WaitForChannelIdleState"
      },
      "MediaLiveDeleteChannel": {
        "Type": "Task",
        "Resource": "${medialiveDeleteChannelArn}",
        "InputPath": "$.medialive.channel.Id",
        "ResultPath": "$.medialive.deleteChannelResponse",
        "Next": "WaitForInputDetachedState"
      },
      "WaitForInputDetachedState": {
        "Type": "Wait",
        "Seconds": 1,
        "Next": "MediaLiveDescribeInput"
      },
      "MediaLiveDescribeInput": {
        "Type": "Task",
        "Resource": "${medialiveDescribeInputArn}",
        "InputPath": "$.medialive.channel.InputAttachments[0].InputId",
        "ResultPath": "$.medialive.input",
        "Next": "IsMediaLiveInputDetached"
      },
      "IsMediaLiveInputDetached": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.medialive.input.State",
            "StringEquals": "DETACHED",
            "Next": "MediaLiveDeleteInput"
          }
        ],
        "Default": "WaitForInputDetachedState"
      },
      "MediaLiveDeleteInput": {
        "Type": "Task",
        "Resource": "${medialiveDeleteInputArn}",
        "InputPath": "$.medialive.channel.InputAttachments[0].InputId",
        "ResultPath": "$.medialive.deleteInputResponse",
        "Next": "Done"
      },
      "Done": {
        "Type": "Pass",
        "End": true
      }
    }
  }