test/resources/aws_cloudformation_stackset_orchestration.yaml
StartAt: CreateStackSetInstances
States:
  CreateStackSetInstances:
    Type: Map
    ItemsPath: $.stacksets
    Iterator:
      StartAt: CreateUpdateDeleteStackInstances
      States:
        CreateUpdateDeleteStackInstances:
          Type: Task
          Resource: !GetAtt CreateUpdateDeleteStackInstances.Arn
          Retry:
            - ErrorEquals:
                - OperationInProgressException
                - ClientError
              IntervalSeconds: 120
              BackoffRate: 1.1
              MaxAttempts: 30
          Next: VerifyStackInstanceStatus
        VerifyStackInstanceStatus:
          Type: Task
          Resource: !GetAtt VerifyStackInstanceStatus.Arn
          Retry:
            - ErrorEquals:
                - OperationInProgressException
                - ClientError
              IntervalSeconds: 120
              BackoffRate: 1.1
              MaxAttempts: 30
          Next: IsStackSetInstanceReady
        IsStackSetInstanceReady:
          Type: Choice
          Choices:
            - Variable: $.stackset_instance_ready
              BooleanEquals: false
              Next: VerifyStackInstanceStatus
          Default: Done
        Done:
          Type: Pass
          End: true
    End: true
