test/resources/serverless_ticket_sentiment_analysis_and_automated_escalation.yaml
Comment: Understand the ticket sentiment, apply tags and check back when answered to ensure SLA's are met
StartAt: FullTicketInfo
States:
    ClosedOrNotNegative:
        End: true
        Result:
            x-datum: 1
            y-datum: 1
        ResultPath: $.coords
        Type: Pass
    EscalatePriority:
        InputPath: $
        Next: isClosed
        Resource: ${ZenDeskDemoSetPriority.Arn}
        ResultPath: $
        Type: Task
    FinalEscalationState:
        Comment: Ticket cannot be escalated further
        Type: Succeed
    FullTicketInfo:
        InputPath: $.detail.ticket_event.ticket
        Next: GetSentiment
        Resource: ${ZenDeskDemoGetFullTicket.Arn}
        ResultPath: $
        Type: Task
    GetSLAWaitTime:
        Choices:
            - Next: SLAHighWait
              StringEquals: normal
              Variable: $.priority
            - Next: SLAUrgentWait
              StringEquals: high
              Variable: $.priority
            - Next: FinalEscalationState
              StringEquals: urgent
              Variable: $.priority
        Default: SLANormalWait
        Type: Choice
    GetSentiment:
        InputPath: $.raw_subject
        Next: isNegative
        OutputPath: $
        Resource: ${ZenDeskDemoGetSentiment.Arn}
        ResultPath: $.sentiment
        Type: Task
    SLAHighWait:
        Next: EscalatePriority
        Seconds: ${SLAHighWait}
        Type: Wait
    SLANormalWait:
        Next: EscalatePriority
        Seconds: ${SLANormalWait}
        Type: Wait
    SLAUrgentWait:
        Next: EscalatePriority
        Seconds: ${SLAUrgentWait}
        Type: Wait
    isClosed:
        Choices:
            - Next: GetSLAWaitTime
              StringEquals: open
              Variable: $.status
        Default: ClosedOrNotNegative
        Type: Choice
    isNegative:
        Choices:
            - Next: setTags
              StringEquals: NEGATIVE
              Variable: $.sentiment.Sentiment
        Default: ClosedOrNotNegative
        Type: Choice
    setTags:
        Next: isClosed
        OutputPath: $
        Resource: ${ZenDeskDemoSetTags.Arn}
        ResultPath: $.tags
        Type: Task
